.present {
  font-family: 'Present';
}

@font-face {
  font-family: Present;
  src: local('Helvetica Neue Bold'), local('HelveticaNeue-Bold');
  font-weight: bold;
}

@font-face {
  font-family: NotPresent;
  src: local('Helvetica Neue Bold'), local('HelveticaNeue-Bold');
  font-weight: bold;
}
